<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4 border rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ asset('assets/logo_projet_sort-removebg-preview.png') }}" width="50"  alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ path('app_sortie_index') }}">Accueil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') and app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Villes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_campus_index') }}">Campus</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profil',{id:2}) }}">Mon profil</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </li>
                {% endif %}
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>