{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ app.user.pseudo }}</h1> {# pseudo User #}
            </div>
        </div>
        <div class="row">
            <div class="col-3"> {# photo user #}

            </div>
            <div class="col-9">

                <div class="row">
                    <div class="col">
                        Prénom :
                    </div>
                    <div class="col">
                        {{ app.user.prenom }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Nom :
                    </div>
                    <div class="col">
                        {{ app.user.nom }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Téléphone :
                    </div>
                    <div class="col">
                        {{ app.user.telephone }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Email :
                    </div>
                    <div class="col">
                        {{ app.user.email }}
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Campus :
                    </div>
                    <div class="col">
                        {{ campus.nom }}
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col text-center">
                <a href="{{ path('app_sortie_index') }}" class="btn btn-secondary">Retour</a>
            </div>
        </div>

    </div>

{% endblock %}
