{% extends './base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    {% if app.user %}
    <h1 class="text-center my-4">Sortie index</h1>
    <div class="d-flex justify-content-end me-5 mb-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="text-center mb-3">Etudiant</h5>
                <h6 class="card-subtitle mb-3 text-muted">Informations</h6>
                <h6 class="card-subtitle mb-3">Nom: {{ app.user.nom }}</h6>
                <h6 class="card-subtitle mb-3">Prénom: {{ app.user.prenom }}</h6>
                <h6 class="card-subtitle mb-3">Campus: {{ app.user.campus }}</h6>

                <a href="{{ path('user_show',{id:app.user.id}) }}" class="card-link">Voir plus</a>
            </div>
        </div>
    </div>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date</th>
                <th scope="col">Duree</th>
                <th scope="col">Date limite inscriptions</th>
                <th scope="col">Inscrits</th>
                <th scope="col">Informations</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <th scope="row">{{ sortie.nom }}</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">show</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sortie_new',{'id':app.user.id}) }}">Create new</a>
    {% endif %}
{% endblock %}
