{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}

{% block body %}
    <h1>Sortie index</h1>

    <table class="table table-striped container">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date debut</th>
                <th scope="col">Duree</th>
                <th scope="col">Date limite inscription</th>
                <th scope="col">NbInscriptionsMax</th>
                <th scope="col">InfosSortie</th>
                <th scope="col">Etat</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <th scope="row">{{ sortie.nom }}</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td>{{ sortie.etat }}</td>
                <td>
                    <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(sorties) }}
    </div>

    <a href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}
