{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}

{% block body %}
    <h1>Create new Sortie</h1>
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_row(form.nom) }}
    </div>
    <div class="form-group">
        {{ form_row(form.dateHeureDebut) }}
    </div>
    <div class="form-group">
        {{ form_row(form.duree) }}
    </div>
    <div class="form-group">
        {{ form_row(form.dateLimiteInscription) }}
    </div>
    <div class="form-group">
        {{ form_row(form.nbInscriptionsMax) }}
    </div>
    <div class="form-group">
        {{ form_row(form.etat) }}
    </div>
    <div class="form-group">
        {{ form_row(form.infosSortie) }}
    </div>

    <div>
        <button class='btn btn-outline-success mx-5'>Enregistrer</button>
    </div>
    <div>
        <button class='btn btn-outline-success mx-5'>Annuler</button>
    </div>

    {{ form_end(form) }}
{#    {{ include('pages/sortie/_form.html.twig') }}#}

    <a href="{{ path('app_sortie_index') }}">back to list</a>
{% endblock %}
