{% extends './base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <div class="row container w-100 mx-auto">
        <section class="col">
            <a href="{{ path('sortie_index') }}" class="btn btn-outline-secondary my-3">Retour a l'accueil</a>

            <div id="map" class="w-75 shadow-lg p-3 mb-5 bg-white rounded border border-dark mt-5" style="height: 80vh;" ></div>
        </section>
        <section class="col">
            <p id="lieu-id" hidden>{{ sortie.lieu.id }}</p>
            <h1 class="text-center my-5">Détail de la sortie</h1>
            <input type="hidden" id="sortie-lieu" value="{{ sortie.lieu.id }}">
        <table class="table mb-5">
            <tbody>
            <tr>
                <th>Etat</th>
                <td>{{ sortie.etat }}</td>
            </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ sortie.nom }}</td>
                </tr>
                <tr>
                    <th>Date et heure de début</th>
                    <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Duree</th>
                    <td>{{ sortie.duree }}</td>
                </tr>
                <tr>
                    <th>Date limite d'inscription</th>
                    <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Nombre de places</th>
                    <td>{{ sortie.nbInscriptionsMax }}</td>
                </tr>
                <tr>
                    <th>Information complémentaire</th>
                    <td>{{ sortie.infosSortie }}</td>
                </tr>
                <tr>
                    <th>Organisateur(trice)</th>
                    <td>{{ sortie.organisateur.getFullName }}</td>
                </tr>
                <tr>
                    <th>Inscription</th>
                        <div class="my-4 d-flex">
                            <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if sortie.motif == null %}
                                        {% if userCollection|length < sortie.nbInscriptionsMax and app.user.id != sortie.organisateur.id and app.user not in userCollection and "now"|date('Y-m-d H:i:s') <= sortie.dateLimiteInscription|date('Y-m-d H:i:s')%}
                                            <p class="mt-2 text-start ">Vous n'êtes pas inscrit</p>
                                            <a href="{{ path('sortie_register_event', {'id': sortie.id}) }}" class="btn btn-outline-secondary mx-2 h-50">S'inscrire</a>
                                        {% endif %}
                                        {% if app.user in userCollection and "now"|date('Y-m-d H:i:s') <= sortie.dateLimiteInscription|date('Y-m-d H:i:s')%}
                                            <p class="mt-2 text-start ">Vous êtes inscrit</p>
                                            <a href="{{ path('sortie_desist', {'id': sortie.id}) }}" class="btn btn-outline-danger mx-2 h-50">Se désinscrire</a>
                                                {% if "now"|date('Y-m-d H:i:s') >= sortie.dateLimiteInscription|date('Y-m-d H:i:s') %}
                                            <a href="{{ path('sortie_desist', {'id': sortie.id}) }}" class="btn btn-outline-danger mx-2 h-50">Se désinscrire</a>
                                                {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </td>
                            </div>
                </tr>
            </tbody>
        </table>
            {% if sortie.motif == null %}
            <h4 class="text-center mb-3">Participants</h4>
            <ul class="list-group list-group-numbered">
                {% for element in userCollection %}
                    <li class="list-group-item">
                        <a class="text-decoration-none text-black" href="{{ path("user_show",{'id':element.id}) }}">{{ element.getFullName }}</a>
                    {% endfor %}
                    </li>
            </ul>
            <p class="mt-3 text-center ">Places restantes : {{ sortie.nbInscriptionsMax - userCollection|length  }}/{{ sortie.nbInscriptionsMax }}</p>
            <div class="my-5 d-flex justify-content-center flex-column">
                <div>
                    {%  if userCollection|length == sortie.nbInscriptionsMax%}
                        <h3 class="text-center">Evenement complet</h3>
                    {% endif %}
                </div>
                <div class="d-flex">
                    {% if userCollection|length < sortie.nbInscriptionsMax and app.user.id != sortie.organisateur.id and app.user not in userCollection%}
                        <a href="{{ path('sortie_register_event', {'id': sortie.id}) }}" class="btn btn-outline-secondary mx-3">S'inscrire</a>
                    {% endif %}
                    {% if app.user in userCollection and app.user.id != sortie.organisateur.id %}

                        <a href="{{ path('sortie_desist', {'id': sortie.id}) }}" class="btn btn-outline-danger mx-3">Se désinscrire</a>
                    {% endif %}
                </div>
            </div>
                {% else %}
                <h4 class="text-center">Événement annulé</h4>
            {% endif %}

        </section>
    </div>
{% endblock %}
