{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center">
            <div class="col my-3">
                <h1>{{ user.prenom }} {{ user.nom }}</h1>
            </div>
        </div>
        <div>
            <img src="{{ asset('uploads/images/' ~ user.image) }}" width="50" alt="{{ user.image }}">
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ user.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ user.nom }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ user.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Campus</th>
                        <td>{{ user.campus }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-5 mt-3">
            <div class="col text-end mx-4">
                <a href="{{ path('sortie_index') }}"  class="btn btn-outline-primary">Revenir a l'accueil</a>
            </div>
            <div class="col text-start mx-4">
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-outline-primary text-decoration-none">Modifier</a>
            </div>
        </div>
    </div>






{% endblock %}
