{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<form method="post" class="w-50 mx-auto my-3">
    <h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</form>
{% endblock %}
