{% extends './base.html.twig' %}

{% block title %}Ville index{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Ville index</h1>
    <table class="table table-striped w-75 mx-auto">
        <thead>
            <tr>
                <th>Nom</th>
                <th>CodePostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ville in villes %}
            <tr>

                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
                <td>
                    <a class= "btn btn-primary" href="{{ path('ville_show', {'id': ville.id}) }}">Détail</a>
                    <a class= "btn btn-warning" href="{{ path('ville_edit', {'id': ville.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <a class="btn btn-success my-5" href="{{ path('ville_new') }}">Ajouter une ville</a>

    </div>
{% endblock %}
